body {
    margin: 0;
    font-size: 150%;
}

header {
    position: sticky;
    top: 0;
    background-color: #151b74;
    justify-content: space-between;
    padding: 10px;
}

header ul {
    margin: 10px;
    text-align: right;
}

header ul li {
    display: inline-block;
    padding: 0 5px;
}

header ul li a {
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
}

header h1 {
    color: #FFFFFF;
    font-size: 170%;
    margin: 0px 0px;
}


.top{
    margin: 0px;
    text-align: center;
}

.top img {
    height: auto;
    width: 100%;
}

.title {
    font-size: 200%;
}

.main {
    text-align: center;
    margin: 0px;
}

.main img {
    height: auto;
    width: 95%;
    max-width: 400px;
}

.text {
    font-size: 120%;
    padding: 25px;
}

.food {
    background-color: rgb(255, 191, 89);
    color: #000000;
    padding-bottom: 50px;
    padding-top: 50px;
}

.activity {
    background-color: rgb(255, 104, 129);
    color: black;
    padding-bottom: 50px;
    padding-top: 50px;
}

.game {
    background-color: rgb(190, 93, 255);
    color: #000000;
    padding-bottom: 50px;
    padding-top: 50px;
}

.entry {
    background-color: aqua;
    color: #000000;
    padding-bottom: 50px;
    padding-top: 50px;
}

.entry li {
    margin: 30px;
}

footer {
    background-color: #151b74;
    color: #FFFFFF;
    margin-top: 80px;
}

footer p {
    font-size: 10px;
    margin: 0px;
}
